Load the dataset, make some analys (missing values, notification type, etc) then start making a time series (maybe looking at the UF)

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
pd.options.mode.copy_on_write = True

In [2]:
# import as str to ignore conflicts, maybe optimize in latter tests to work match the type.
data = pd.read_csv("DENGBR20.csv", dtype=str)
# ID_O = ID ORIGEM
data.insert(0, "ID_O", range(0, len(data)))

# Lavras-MG 313820
lavras = data[data["ID_MUNICIP"] == "313820"]
lavras.head()

/tmp/ipykernel_51303/1618985894.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data.insert(0, "ID_O", range(0, len(data)))

,ID_O,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,...,LACO_N,PLASMATICO,EVIDENCIA,PLAQ_MENOR,CON_FHD,COMPLICA,TP_SISTEMA,NDUPLIC_N,CS_FLXRET,FLXRECEBI
337486,337486,2,A90,2020-04-29,NaN,2020,31,313820,1466,2111659,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,1,NaN
339303,339303,2,A90,2020-03-09,NaN,2020,31,313820,1466,3494136,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,0,NaN
341224,341224,2,A90,2020-03-26,NaN,2020,31,313820,1466,2112175,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,0,NaN
344562,344562,2,A90,2020-02-17,NaN,2020,31,313820,1466,2112175,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,0,NaN
346326,346326,2,A90,2020-04-22,NaN,2020,31,313820,1466,2112175,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,0,NaN

Extract only the columns: ID_O, TP_NOT, DT_NOTIFIC, DT_SIN_PRI, NU_IDADE_N, CS_SEXO, SOROTIPO

In [3]:
# ID_F = ID FILTER
filters = ["ID_O", "TP_NOT", "DT_NOTIFIC", "DT_SIN_PRI", "NU_IDADE_N", "CS_SEXO", "SOROTIPO"]
filtered_lavras = lavras[filters]
filtered_lavras.insert(0, "ID_F", range(0, len(filtered_lavras)))

In [4]:
filtered_lavras.head()

,ID_F,ID_O,TP_NOT,DT_NOTIFIC,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,SOROTIPO
337486,0,337486,2,2020-04-29,2020-04-21,4075.0,F,NaN
339303,1,339303,2,2020-03-09,2020-03-02,4043.0,F,NaN
341224,2,341224,2,2020-03-26,2020-03-18,4031.0,M,NaN
344562,3,344562,2,2020-02-17,2020-02-12,3011.0,M,NaN
346326,4,346326,2,2020-04-22,2020-04-14,4065.0,F,NaN

In [10]:
# TODO: Fix "ID_F" this will help with the i index in the range function bellow
id_month_pair = []
for i in range(len(filtered_lavras)):
    
    id_month_pair.append([i, filtered_lavras["DT_NOTIFIC"].iat[i].split("-")[1]])
for i in range(len(filtered_lavras)):
    filtered_lavras.loc[i, "DT_NOTIFIC"] = id_month_pair[i][1]

IndexError: list index out of range

In [6]:
filtered_lavras["DT_NOTIFIC"].nunique()

57

In [18]:
filtered_lavras.head()

,ID_F,ID_O,TP_NOT,DT_NOTIFIC,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,SOROTIPO
337486,0.0,337486.0,2,2020-04-29,2020-04-21,4075.0,F,NaN
339303,1.0,339303.0,2,2020-03-09,2020-03-02,4043.0,F,NaN
341224,2.0,341224.0,2,2020-03-26,2020-03-18,4031.0,M,NaN
344562,3.0,344562.0,2,2020-02-17,2020-02-12,3011.0,M,NaN
346326,4.0,346326.0,2,2020-04-22,2020-04-14,4065.0,F,NaN

I need to make sure that every input on the dataset has yyyy/mm/dd (but as the code converts to "str" in the cell that load the dataset it's possible that the conversion is done wrong)

In [17]:
filtered_lavras["DT_NOTIFIC"].iat[47]

'09'